<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-9097QXWNCZ"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-9097QXWNCZ');
		</script>

		</head>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/docs/CV_NunoDuarte.pdf">CV</a></li>
	        		<li><a href="https://vislab.isr.tecnico.ulisboa.pt/datasets_and_resources/">Datasets</a></li>
				<li><a href="https://github.com/NunoDuarte"><img src="/images/github.png" width="20" height="20" alt="github">GitHub</a></li>
				<li><a href="https://scholar.google.ch/citations?user=HA_f9qsAAAAJ&hl=en"><img src="/images/scholar.png" width="20" height="20" alt="scholar">Scholar</a></li>
				<li><a href="/deadlines">Deadlines</a></li>
				<li><a href="https://orcid.org/0000-0002-1396-6774"><img src="/images/id.png" width="20" height="20" alt="orcid"></a></li>
				<li><a href="https://www.youtube.com/channel/UCLkuyUdZCrOfcBO32XYm72A"><img src="/images/youtube-icon.png" width="20" height="20" alt="youtube"></a></li>

	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>	
		<footer>
	    	<ul>
				<li><a href="mailto:nferreiraduarte@isr.tecnico.ulisboa.pt">email</a></li>
	        	<li><a href="https://github.com/NunoDuarte">github.com/NunoDuarte</a></li>
			</ul>
		</footer>
	</html>
