<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-9097QXWNCZ"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-9097QXWNCZ');
		</script>

		</head>

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/docs/DongheeChoi_CV_20250302.pdf">CV</a></li>
	        		
				<li><a href="https://github.com/dongheechoi"><img src="/images/github.png" width="20" height="20" alt="github">GitHub</a></li>
				<li><a href="https://scholar.google.com/citations?user=iR40DeMAAAAJ"><img src="/images/scholar.png" width="20" height="20" alt="scholar">Scholar</a></li>
				<li><a href="https://orcid.org/0000-0002-8857-9680"><img src="/images/id.png" width="20" height="20" alt="orcid"></a></li>
				<li><a href="https://bsky.app/profile/donghee.bsky.social"><img src="/images/bluesky.png" width="20" height="20" alt="bluesky"></a></li>

				
				<li><a href="https://github.com/dongheechoi/ai-portfolio-selection">[AI Portfolio Papers]</a></li>
				<li><a href="https://github.com/jun-harashima/recipe-related-papers">[Recipe Related Papers]</a></li>
				

	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>	
		<footer>
	    	<ul>
				<li><a href="mailto:iamdongheechoi@gmail.com">email</a></li>
	        	<li><a href="https://github.com/dongheechoi">github.com/dongheechoi</a></li>
			</ul>
		</footer>
	</html>
